.header {
  width: 100%;
  max-width: 880px;
  padding: 49px 0 36px;
  margin: 0 auto 40px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  flex: 0;
}

@media screen and (max-width: 767px) {
  .header {
    padding-top: 28px;
    padding-bottom: 0;
    margin-bottom: 42px;
  }
}
